<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

 <ui:composition>
  <p:dialog id="TaxCreateDlg" 
            widgetVar="TaxCreateDialog" 
            modal="true" 
            resizable="false" 
            maximizable="true" 
            appendTo="@(body)" 
            showEffect="slide" 
            hideEffect="clip"
            closeOnEscape="true" 
            header="#{bundle.CreateTaxTitle}">

   <h:form id="TaxCreateForm">
    <h:panelGroup id="display">

     <h:panelGrid columns="2"
                  columnClasses="list-row1 list-row2">

       <p:outputLabel value="#{bundle.CreateTaxLabel_allowance}" 
                      for="allowance"/>
       <p:inputText id="allowance" 
                    value="#{css.item.allowance}" 
                    placeholder="Enter #{bundle.EditTaxTitle_allowance}"
                    title="#{bundle.EditTaxTitle_allowance}"
                    required="true" requiredMessage="#{bundle.CreateTaxRequiredMessage_allowance}">
       </p:inputText>

       <p:outputLabel value="#{bundle.CreateTaxLabel_allowanceRate}" 
                      for="allowanceRate"/>
       <p:inputText id="allowanceRate" 
                    value="#{css.item.allowanceRate}" 
                    placeholder="Enter #{bundle.EditTaxTitle_allowanceRate}"
                    title="#{bundle.EditTaxTitle_allowanceRate}"
                    required="true" requiredMessage="#{bundle.CreateTaxRequiredMessage_allowanceRate}">
       </p:inputText>
     </h:panelGrid>

     <div class="center-contents">
      <p:commandButton id="Save"
                       actionListener="#{css.prepareCreate}" 
                       value="#{bundle.Save}" 
                       title="Save #{bundle.TitleTaxTitle}"
                       update="display,:TaxListForm:datalist,:growl" 
                       oncomplete="handleSubmit(xhr, status, args, 'TaxCreateDialog');"/>
      <p:button onclick="window.close();" value="" icon="ui-icon-popup-close" title="Cancel"  style="margin-left: 33px; float: none;"/>
     </div>
    </h:panelGroup>

   </h:form>
  </p:dialog>
 </ui:composition>
</html>
