<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

 <ui:composition>
  <p:dialog id="TaxEditDlg" 
            widgetVar="TaxEditDialog" 
            modal="false" 
            resizable="false" 
            maximizable="true" 
            appendTo="@(body)" 
            showEffect="slide" 
            hideEffect="clip"
            closeOnEscape="true" 
            header="#{bundle.EditTaxTitle}">

   <h:form id="TaxEditForm">
    <h:panelGroup id="display">

     <p:outputPanel style="margin: 2px auto; font-weight: bold;" layout="block">
      <h:panelGroup rendered="#" >
       <div class="no-select-warning-text">
        Please search and select a #{bundle.TitleTaxTitle} from the drop down or 
        select a #{bundle.TitleTaxTitle} by clicking on a #{bundle.TitleTaxTitle} on the table 
        before you click #{bundle.Edit} 
       </div>
       <br/><br/> 
      </h:panelGroup>
     </p:outputPanel>

     <h:panelGrid style="margin: 2px auto;">

      <h:panelGrid style="margin: 2px auto;">

       <p:outputLabel value="#{bundle.CreateTaxLabel_allowance}" 
                      for="allowance"/>
       <p:inputText id="allowance" 
                    value="#{css.item.allowance}" 
                    placeholder="Enter #{bundle.EditTaxTitle_allowance}"
                    title="#{bundle.EditTaxTitle_allowance}"
                    required="true" requiredMessage="#{bundle.CreateTaxRequiredMessage_allowance}">
       </p:inputText>

       <p:outputLabel value="#{bundle.CreateTaxLabel_allowanceRate}" 
                      for="allowanceRate"/>
       <p:inputText id="allowanceRate" 
                    value="#{css.item.allowanceRate}" 
                    placeholder="Enter #{bundle.EditTaxTitle_allowanceRate}"
                    title="#{bundle.EditTaxTitle_allowanceRate}"
                    required="true" requiredMessage="#{bundle.CreateTaxRequiredMessage_allowanceRate}">
       </p:inputText>
      </h:panelGrid>
     </h:panelGrid>

     <div class="center-contents" jsf:id="save" jsf:name="save">
      <p:commandButton  id="Save"
                        actionListener="#{css.prepareUpdate}" 
                        value="#{bundle.Save}"
                        title="Save #{bundle.TitleTaxTitle}" 
                        update="display,:TaxListForm:datalist,:growl" 
                        oncomplete="handleSubmit(xhr, status, args, 'TaxEditDialog');"/>
      <p:button onclick="window.close();" value="" icon="ui-icon-popup-close" title="Cancel"  style="margin-left: 33px; float: none;"/>
     </div>
    </h:panelGroup>

   </h:form>
  </p:dialog>
 </ui:composition>
</html>