<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:update="http://java.sun.com/jsf/composite/ws">

 <ui:composition template="/template.xhtml">

  <ui:define name="title">
   <h:outputText value="#{bundle.TitleTaxTitle}"></h:outputText>
  </ui:define>

  <ui:define name="body">
   <h:form id="TaxListForm"  
           prependId="false" 
           class="headerbackground">

    <h:outputScript library="js" name="update.js" target="head"/>
    <update:update/>

    <p:remoteCommand id="refreshItems"
                     name="reload" 
                     process="@this" 
                     update="datalist NoOfItems deleteButton :growl"/>

    <p:remoteCommand id="findArchivedItems"
                     name="findArchivedItems" 
                     process="@this" 
                     update="datalist NoOfItems deleteButton :growl"/>

    <p:remoteCommand name="init" 
                     process="@this" 
                     autoRun="true"
                     update="datalist NoOfItems"/>

    <p:focus context="focus"/>
    <h:outputLabel id="reloadLabel" 
                   onclick="reload();"  
                   value="#{bundle.TitleTaxTitle}" 
                   title="Reload #{bundle.TitleTaxTitle} List"
                   styleClass="dataSetName"/>

    <p:autoComplete id="focus" 
                    value="#{css.item}" 
                    completeMethod="#{css.complete}" 
                    dropdown="true" 
                    effect="slide"
                    var="item" 
                    itemValue="#{item}" 
                    itemLabel="#{item.identifier}" 
                    placeholder="Search and Select #{bundle.TitleTaxTitle}"
                    title="Start typing to search for matching #{bundle.TitleTaxTitle} record(s)"
                    emptyMessage="#{bundle.TitleTaxTitle} not Found"
                    forceSelection="true" 
                    scrollHeight="300"  
                    size="40"
                    styleClass="focus search"
                    style="margin-bottom: 10px;">
     <p:ajax event="itemSelect" 
             update="editButton deleteButton datalist NoOfItems :TaxEditForm :TaxViewForm"/>
    </p:autoComplete>

    <p:commandButton id="createButton" 
                     icon="ui-icon-plus" 
                     value="#{bundle.Create}" 
                     actionListener="#{css.prepareCreate}"
                     update=":TaxCreateForm :growl"
                     oncomplete="PF('TaxCreateDialog').show()"
                     title="#{bundle.Create} new #{bundle.TitleTaxTitle}"
                     styleClass="createButtonMargin"/>

    <p:commandButton id="editButton" 
                     icon="ui-icon-pencil" 
                     value="#{bundle.Edit}" 
                     actionListener="#{css.prepareUpdate}"
                     update=":TaxEditForm :growl"
                     oncomplete="PF('TaxEditDialog').show()"
                     title="#{bundle.Edit} selected #{bundle.TitleTaxTitle}"/>

    <p:commandButton id="deleteButton" 
                     icon="ui-icon-trash"  
                     value="#{bundle.Delete}" 
                     actionListener="#{css.prepareDelete}"
                     update="TaxDeleteForm :growl" 
                     oncomplete="PF('TaxDeleteDialog').show()" 
                     title="#{bundle.Delete} selected #{bundle.TitleTaxTitle}(s). You have # #{bundle.TitleTaxTitle}(s) in Trash Container"/>

    <p:commandButton id="viewButton" 
                     icon="ui-icon-search"
                     value="#{bundle.View}"
                     actionListener="#{css.prepareMoreInfo}"
                     update=":TaxViewForm :growl" 
                     oncomplete="PF('TaxViewDialog').show()" 
                     title="View More Information about the selected #{bundle.TitleTaxTitle}"/>

    <h:outputLabel id="NoOfItems" value="Size " 
                   title="No of records #" 
                   styleClass="tablesize">
    </h:outputLabel>

    <p:inplace id="event" label="Report" effect="fade" effectSpeed="slow" event="click" editor="true"
               styleClass="event report" cancelLabel="Close Report Panel" saveLabel="Close Report Panel">
     <br/><br/>
     <div class="emp-dep" styleClass="reportContainer">
      <p:commandButton 
       id="searchButton" value="" 
       actionListener="#"
       icon="ui-icon-search" 
       ajax="true" process="searchButton"
       update="datalist NoOfItems deleteButton editButton viewButton :growl"
       styleClass="reportSearchButton">
      </p:commandButton>

      <p:outputLabel for="fromDate" 
                     value="From: " 
                     styleClass="fromDateLabel">
      </p:outputLabel>               
      <p:calendar id="fromDate" 
                  value="#{css.date}" 
                  mask="true" 
                  placeholder="Select From Date"
                  navigator="true"
                  effect="slide"
                  title="Click &amp; Select Report From Date"
                  styleClass="fromDateCalendar">
      </p:calendar>            
      <p:outputLabel for="toDate" 
                     value="To: " 
                     styleClass="toDateLabel"/>
      <p:calendar id="toDate" 
                  value="#{css.date}" 
                  mask="true" 
                  placeholder="Select To Date"
                  navigator="true"
                  effect="slide"
                  title="Click &amp; Select Report To Date"
                  styleClass="">
       <p:ajax event="dateSelect" 
               process="fromDate toDate" 
               update="datalist NoOfItems deleteButton editButton viewButton :growl"/>
      </p:calendar>
      <p:commandButton 
       id="searchDate" value="" 
       actionListener="#"
       icon="ui-icon-search" 
       ajax="true" process="fromDate toDate searchDate"
       update="datalist NoOfItems deleteButton editButton viewButton :growl"
       styleClass="reportSearchDate">
      </p:commandButton>
     </div>
    </p:inplace>

    <p:contextMenu for="datalist">
     <p:menuitem icon="ui-icon-plus" 
                 value="#{bundle.Create}" 
                 actionListener="#"
                 update=":TaxCreateForm :growl"
                 oncomplete="PF('TaxCreateDialog').show()"
                 title="#{bundle.Create} new #{bundle.TitleTaxTitle}"/>

     <p:menuitem icon="ui-icon-pencil" 
                 value="#{bundle.Edit}" 
                 actionListener="#"
                 update=":TaxEditForm :growl"
                 oncomplete="PF('TaxEditDialog').show()"
                 title="#{bundle.Edit} selected #{bundle.TitleTaxTitle}"/>

     <p:menuitem icon="ui-icon-trash"  
                 value="#{bundle.Delete}" 
                 actionListener="#"
                 update="TaxDeleteForm :growl" 
                 oncomplete="PF('TaxDeleteDialog').show()" 
                 title="#{bundle.Delete} selected #{bundle.TitleTaxTitle}(s)."/>

     <p:menuitem icon="ui-icon-search"
                 value="#{bundle.View}"
                 actionListener="#"
                 update=":TaxViewForm :growl" 
                 oncomplete="PF('TaxViewDialog').show()" 
                 title="View More Information about the selected #{bundle.TitleTaxTitle}"/>
    </p:contextMenu>

    <p:dataTable value="#{css.items}"
                 id="datalist"
                 reflow="true"
                 var="item"
                 draggableRows="false" 
                 draggableColumns="true"
                 paginator="true" 
                 paginatorAlwaysVisible="true" 
                 paginatorPosition="top"
                 currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}, Page(s) {currentPage}/{totalPages}"
                 paginatorTemplate="{Select} {CurrentPageReport}  
                 {FirstPageLink} {PreviousPageLink} {PageLinks} 
                 {NextPageLink} {LastPageLink} Page size {RowsPerPageDropdown} {Print} {Exporters} {Columns}" 
                 rows="50" 
                 rowsPerPageTemplate="1,2,3,4,10" 
                 scrollHeight="fit-content"  
                 scrollWidth="100%" 
                 styleClass="white borderless panel pagination-sm pagination-lg pagination" 
                 tableStyleClass="ui-table-columntoggle"
                 widgetVar="itemsFilter"
                 >

     <f:facet name="{Filter}">
      <p:inputText id="globalFilter" 
                   onkeyup="PF('itemsFilter').filter()" 
                   placeholder="Search all fields"
                   style="width: 150px; text-align: center;"/>
     </f:facet>

     <f:facet name="{Columns}">
      <p:commandButton id="toggler" 
                       type="button" 
                       value="Columns" 
                       style="float:right; background-color: azure; border: none;"
                       icon="ui-icon-calculator">
      </p:commandButton>
      <p:columnToggler datasource="datalist" 
                       trigger="toggler">
      </p:columnToggler>                 
     </f:facet>

     <f:facet name="{Select}">
      <div title="Select all records" style="display: inline-block; vertical-align: middle;">
       <p:selectBooleanCheckbox value="#" 
                                style="border: 1px solid #3388cc; height: 18px; border-radius: 3px;">
        <p:ajax event="change" 
                update=":growl :TaxListForm:deleteButton datalist">
        </p:ajax>           
       </p:selectBooleanCheckbox>
      </div>
     </f:facet>

     <f:facet name="{Time}">
      <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" 
                     title="Current date and time">
       <a href="#" styleClass="paginator_facet">  
        <p:clock pattern="dd/MM/yyyy HH:mm:ss"/>
       </a>
      </h:commandLink>
     </f:facet>

     <f:facet name="{Exporters}">
      <p:inplace id="transfer" 
                 label="Transfers" 
                 effectSpeed="fast" 
                 event="click" 
                 editor="true"
                 styleClass="event transfer" 
                 cancelLabel="Close Transfer Panel" 
                 saveLabel="Close Transfer Panel">
       <br/>

       <h:commandLink value=" Export as" 
                      title="Table Export Formats" 
                      style="margin-right: 20px;"/>

       <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" 
                      title="PDF">
        <p:graphicImage name="/images/pdf.png" 
                        width="30" height="30"/>
        <p:dataExporter type="pdf" target="datalist" 
                        fileName="Tax_#{request.userPrincipal}"
                        preProcessor="#{pdfLogo.preProcessPDF}"/>
       </h:commandLink>

       <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="CSV">
        <p:graphicImage name="/images/csv.png" width="30" height="30"/>
        <p:dataExporter type="csv" 
                        target="datalist" 
                        fileName="Tax_#{request.userPrincipal}" />
       </h:commandLink>

       <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="XML">
        <p:graphicImage name="/images/xml.png" 
                        width="30" height="30"/>
        <p:dataExporter type="xml" target="datalist" 
                        fileName="Tax_#{request.userPrincipal}" />
       </h:commandLink>

       <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="EXCEL">
        <p:graphicImage name="/images/excel.png" 
                        width="30" height="30"/>
        <p:dataExporter type="xls" target="datalist" 
                        fileName="Tax_#{request.userPrincipal}" />
       </h:commandLink>

       <ui:remove>
        <h:commandLink value=" Import from " 
                       title="Choose a Data Import Formats" 
                       style="margin-left: 20px;"/>
        <p:commandButton 
         id="runJOB" 
         icon="ui-icon-disk" 
         value="" 
         actionListener="#"  
         update="@form" 
         oncomplete="PF('TaxRunDialog').show()" 
         title="Import from .csv file. WARNING: This is only needed to Load initial Records"
         style="height: 30px; width: 30px; vertical-align: top;"/>

        <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="JSON">
         <p:graphicImage name="/images/csv.png" width="30" height="30"/>
         <p:dataExporter type="csv" target="datalist" 
                         fileName="Tax_#{request.userPrincipal}"/>
        </h:commandLink>

        <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="XML">
         <p:graphicImage name="/images/xml.png" width="30" height="30"/>
         <p:dataExporter type="xml" target="datalist" 
                         fileName="Tax_#{request.userPrincipal}"/>
        </h:commandLink>

        <h:commandLink style="padding: 0.2rem; vertical-align: bottom;" title="EXCEL">
         <p:graphicImage name="/images/excel.png" width="30" height="30"/>
         <p:dataExporter type="xls" target="datalist" 
                         fileName="Tax_#{request.userPrincipal}"/>
        </h:commandLink>
       </ui:remove>

       <p:commandButton id="archivedLabel" 
                        onclick="findArchivedItems();"  
                        value="Archived" 
                        title="Load Archived Items"
                        styleClass="dataSetName" 
                        style="background: none; color: #005599"
                        icon="fa fa-exchange" iconPos="right">
       </p:commandButton>
      </p:inplace>
     </f:facet>

     <f:facet name="{Print}">
      <p:commandButton value="Print" 
                       icon="ui-icon-print" 
                       title="Print"  
                       style="display:inline;color: #3388cc; border: none; background-color: transparent;">
       <p:printer target="datalist"/>
      </p:commandButton>
     </f:facet>

     <p:column headerText="" sortBy="#{item.allowance}" filterStyle="display:none" filterBy="#{item.allowance}" style="text-align: left;">
      <f:facet name="header">
       <h:outputText value="#{bundle.ListTaxTitle_allowance}"/>
      </f:facet>                              
      <h:outputText value="#{item.allowance}"/>
     </p:column>

     <p:column headerText="" sortBy="#{item.allowanceRate}" filterStyle="display:none" filterBy="#{item.allowanceRate}" style="text-align: left;">
      <f:facet name="header">
       <h:outputText value="#{bundle.ListTaxTitle_allowanceRate}"/>
      </f:facet>                              
      <h:outputText value="#{item.allowanceRate}"/>
     </p:column>

    </p:dataTable>

    <div class="welcome">
     <p:dialog id="TaxRunDlg" 
               widgetVar="TaxRunDialog" 
               modal="false" 
               resizable="false" 
               maximizable="true" 
               appendTo="@(body)" 
               showEffect="slide" 
               hideEffect="clip"
               closeOnEscape="true" 
               header="Import Records From a CSV File">

      <h:form id="TaxRunForm" 
              enctype="multipart/form-data"  
              prependId="false">
       <h:panelGroup id="display">
        <h:panelGrid columns="1">
         <p:outputLabel value="Instructions:" style="font-weight: bolder; font-size: larger;"/>
         <div class="box-item-no-width" style="margin-top: -5px; color: black;">
          1. Click Select File and locate the .csv file containing the comma separated records to be imported into your Database.<br/>
          2. Click Submit to upload the .csv file to the application or Exit to cancel this operation.<br/>
          3. Click Import to run the background job that will transfer the records from the .csv file to your Database<br/>
          4. After about 1 - 20 minutes (depending on the no of records in the .csv file) Check the application
          <a href="#{request.contextPath}/log/List.jsf" style="color: blue;">Log Records</a> for errors
         </div><br/><br/>

         <ui:remove> Please replace the above log link with the log location as shown below
          <a href="#{request.contextPath}/sysadmin/log/List.jsf" style="color: blue;">Log Records</a> for errors
         </ui:remove>

         <p:outputLabel value="Note: The .csv delimeter for the uploaded file contents must be a comma (,) see example below"/>
         <br/>

         <div>
          Person .csv file should contain records in this format:<br/>
          "#{bundle.ListTaxTitle_id}",
          "#{bundle.ListTaxTitle_allowance}",
          "#{bundle.ListTaxTitle_allowanceRate}",
          "#{bundle.ListTaxTitle_band1}",
          "#{bundle.ListTaxTitle_band1Rate}",
          "#{bundle.ListTaxTitle_band2}",
          "#{bundle.ListTaxTitle_band2Rate}",
          "#{bundle.ListTaxTitle_band3}",
          "#{bundle.ListTaxTitle_band3Rate}",
          "#{bundle.ListTaxTitle_band4}",
          "#{bundle.ListTaxTitle_band4Rate}",
          "#{bundle.ListTaxTitle_band5}",
          "#{bundle.ListTaxTitle_band5Rate}",
          "#{bundle.ListTaxTitle_band6}",
          "#{bundle.ListTaxTitle_band6Rate}",
          "#{bundle.ListTaxTitle_archived}",
          "#{bundle.ListTaxTitle_addedOn}",
          "#{bundle.ListTaxTitle_addedBy}",
          "#{bundle.ListTaxTitle_lastUpdated}",
          "#{bundle.ListTaxTitle_lastUpdatedBy}",

          See example data below<br/><br/>


          Put Example Import/Transfer Data here<br/>
          Put more example Import/Transfer Data here<br/><br/>

          An empty record must contain an empty String such as:<br/>
          " "
          <br/><br/>
          Now Select File
         </div>

         <p:fileUpload 
          label="Select File" 
          multiple="false" 
          mode="advanced"
          fileLimit="1" 
          invalidFileMessage="Invalid File"
          invalidSizeMessage="File size exceeded 1MB"
          sizeLimit="1024000"
          fileUploadListener="#"
          allowTypes="/(\.|\/)(csv)$/"
          auto="false" cancelLabel="Exit" uploadLabel="Submit" 
          style="padding: 0px; font-size: xx-small; border: none;">
         </p:fileUpload>
        </h:panelGrid>

        <div>
         If any of the records in the .csv file already exists 
         based on the record ID 

         <p:outputLabel value="Update it" for="overwrite" style="color: red;"/>
         <p:selectBooleanButton 
          id="overwrite"
          value="#"
          offLabel="No" onLabel="Yes" 
          onIcon="ui-icon-check" offIcon="ui-icon-close" 
          style="width:90px; margin-left: 1rem;">
          <p:ajax update="display" 
                  />
         </p:selectBooleanButton>
        </div>

        <div class="center-contents">
         <p:commandButton value="Import" 
                          id="Import"
                          actionListener="#"
                          update="display,:TaxListForm:datalist,:growl" 
                          oncomplete="handleSubmit(xhr, status, args,'TaxRunDialog');">
         </p:commandButton>

         <p:commandButton value="#{bundle.Cancel}" 
                          onclick="TaxRunDialog.hide()"/>
        </div>

       </h:panelGroup>
      </h:form>
     </p:dialog>
    </div>

    <p:dialog id="TaxDeleteDlg" 
              widgetVar="TaxDeleteDialog" 
              modal="true" 
              maximizable="true" 
              resizable="false" 
              showEffect="slide" 
              hideEffect="clip"
              closeOnEscape="true"
              appendTo="@(body)" 
              header="Remove #{bundle.TitleTaxTitle}">

     <div class="center-contents">
      <h:form id="TaxDeleteForm" style="background-color: white;">
       <div class="view_header">
        <h:panelGroup rendered="#" >
         You are about to remove the following #{bundle.TitleTaxTitle}(s)
        </h:panelGroup>
       </div> 

       <h:panelGroup id="display" style="margin: 0 auto; text-align: left;">
        <p:outputPanel style="margin: 2px auto; font-weight: bold;" layout="block">
         <h:panelGroup rendered="#" >
          <div class="no-select-warning-text">
           Please search and select a #{bundle.TitleTaxTitle} from the drop down or 
           select a #{bundle.TitleTaxTitle} by clicking on a 
           #{bundle.TitleTaxTitle} on the table or 
           select several #{bundle.TitleTaxTitle}(s) by clicking the Select Button 
           on the table before you click #{bundle.Delete} 
          </div>
          <br/><br/> 
         </h:panelGroup>

         <div style="margin: 0 auto; font-weight: bold; height: 380px;" class="center-contents">       
          <h:panelGroup id="displayPerson"  style="margin-left: 30px;" >
           <ui:repeat value="#{css.items}" 
                      var="item">
            <div class="" style="margin-left: 30px;">
             <h:outputText value="#{item.identifier}" style="display:block"/>
            </div><br/>
           </ui:repeat>
          </h:panelGroup>

          <div class="center-contents">
           <p:commandButton id="Remove" 
                            actionListener="#{css.prepareDelete}" 
                            process="@this"
                            value="#{bundle.Delete}"
                            update="display,:TaxListForm:datalist,:TaxListForm:NoOfItems,:growl" 
                            oncomplete="handleSubmit(xhr, status, args,'TaxDeleteDialog');">
           </p:commandButton>

           <p:button onclick="window.close();" value="" icon="ui-icon-popup-close" title="Cancel" style="margin-right: 33px; float: none;"/>   
          </div>
         </div>
        </p:outputPanel>
       </h:panelGroup>

      </h:form>
     </div>
    </p:dialog>

    <p:blockUI block="@form" trigger="refreshItems">
     Reloading #{bundle.TitleTaxTitle} Records... <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="createButton">
     Displaying #{bundle.Create} #{bundle.TitleTaxTitle} Screen... <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="editButton">
     Displaying #{bundle.Edit} #{bundle.TitleTaxTitle} Screen... <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="deleteButton">
     Displaying #{bundle.Delete} #{bundle.TitleTaxTitle} Screen... <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="viewButton">
     Displaying #{bundle.View} #{bundle.TitleTaxTitle} Screen... <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="searchButton searchDate toDate">
     Processing Report Please Wait...<br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="TaxRunForm:Import">
     Transferring #{bundle.TitleTaxTitle}(s)... Please check log records for any errors when record transfer completes<br />
     <h:graphicImage library="ajaxloader" name="0.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="TaxDeleteForm:Remove">
     Removing #{bundle.TitleTaxTitle}(s) <br/>
     <h:graphicImage library="ajaxloader" name="0.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="focus">
     Searching for your record... <br/>
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger="findArchivedItems">
     Searching archives... <br/>
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger=":TaxCreateForm:Save">
     Adding New #{bundle.TitleTaxTitle} <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>

    <p:blockUI block="@form" trigger=":TaxEditForm:Save">
     Updating #{bundle.TitleTaxTitle} <br />
     <h:graphicImage library="ajaxloader" name="1.gif"/>
    </p:blockUI>
   </h:form>

   <ui:include src="Create.xhtml"/>
   <ui:include src="Edit.xhtml"/>
   <ui:include src="View.xhtml"/>
  </ui:define>
 </ui:composition>

</html>
