<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

 <ui:composition>
  <div class="welcome">
   <p:dialog id="TaxViewDlg" 
             widgetVar="TaxViewDialog" 
             modal="false" 
             resizable="false" 
             maximizable="true" 
             appendTo="@(body)" 
             showEffect="slide" 
             hideEffect="clip"
             closeOnEscape="true" 
             header="#{bundle.ViewTaxTitle}"
             style="overflow-y: auto; max-height: 550px;">

    <h:form id="TaxViewForm">
     <h:panelGroup id="display">

      <p:outputPanel style="margin: 2px auto; font-weight: bold;" layout="block">
       <h:panelGroup>
        <div class="no-select-warning-text">
         Please search and select a Tax from the drop down or 
         select a Tax by clicking on a Tax on the table 
         before you click #{bundle.View}
        </div>
        <br/><br/> 
       </h:panelGroup>
      </p:outputPanel>

      <h:panelGrid style="margin: 2px auto; height: 100%;">
       <h:panelGrid columns="4"
                    columnClasses="list-row1, list-row2, list-row3, list-row4"
                    rendered="#{css.item != null}">

        <h:outputText value="#{bundle.ViewTaxLabel_id}"/>
        <h:outputText value="#{css.item.id}" 
                      title="#{bundle.ViewTaxTitle_id}"/>
        <h:outputText value="#{bundle.ViewTaxLabel_allowance}"/>
        <h:outputText value="#{css.item.allowance}" 
                      title="#{bundle.ViewTaxTitle_allowance}"/>
        <h:outputText value="#{bundle.ViewTaxLabel_allowanceRate}"/>
        <h:outputText value="#{css.item.allowanceRate}" 
                      title="#{bundle.ViewTaxTitle_allowanceRate}"/>
       </h:panelGrid>

       <div style="margin-top: 20px;">
        <p:button onclick="window.close();" value="" icon="ui-icon-popup-close" title="Cancel" style="margin-right: 33px; float: right;"/> 
       </div>
      </h:panelGrid>

     </h:panelGroup>
    </h:form>
   </p:dialog>
  </div>
 </ui:composition>
</html>
