@charset "UTF-8";

@font-face {
 font-family: "school-education";
 //src:url("../fonts/school-education.eot");
 //src:url("../fonts/school-education.eot?#iefix") format("embedded-opentype"),
 //url("../fonts/school-education.woff") format("woff"),
 //url("../fonts/school-education.ttf") format("truetype"),
 //url("../fonts/school-education.svg#school-education") format("svg");
 font-weight: normal;
 font-style: normal;
}

[data-icon]:before {
 font-family: "school-education" !important;
 content: attr(data-icon);
 font-style: normal !important;
 font-weight: normal !important;
 font-variant: normal !important;
 text-transform: none !important;
 speak: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
 font-family: "school-education" !important;
 font-style: normal !important;
 font-weight: normal !important;
 font-variant: normal !important;
 text-transform: none !important;
 speak: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-001:before {
 content: "a";
}
.icon-014:before {
 content: "b";
}
.icon-027:before {
 content: "c";
}
.icon-040:before {
 content: "d";
}
.icon-053:before {
 content: "e";
}
.icon-066:before {
 content: "f";
}
.icon-079:before {
 content: "g";
}
.icon-092:before {
 content: "h";
}
.icon-093:before {
 content: "i";
}
.icon-080:before {
 content: "j";
}
.icon-067:before {
 content: "k";
}
.icon-054:before {
 content: "l";
}
.icon-041:before {
 content: "m";
}
.icon-028:before {
 content: "n";
}
.icon-015:before {
 content: "o";
}
.icon-002:before {
 content: "p";
}
.icon-003:before {
 content: "q";
}
.icon-016:before {
 content: "r";
}
.icon-029:before {
 content: "s";
}
.icon-042:before {
 content: "t";
}
.icon-055:before {
 content: "u";
}
.icon-068:before {
 content: "v";
}
.icon-081:before {
 content: "w";
}
.icon-094:before {
 content: "x";
}
.icon-095:before {
 content: "y";
}
.icon-082:before {
 content: "z";
}
.icon-069:before {
 content: "A";
}
.icon-056:before {
 content: "B";
}
.icon-043:before {
 content: "C";
}
.icon-030:before {
 content: "D";
}
.icon-017:before {
 content: "E";
}
.icon-004:before {
 content: "F";
}
.icon-005:before {
 content: "G";
}
.icon-018:before {
 content: "H";
}
.icon-031:before {
 content: "I";
}
.icon-032:before {
 content: "J";
}
.icon-019:before {
 content: "K";
}
.icon-006:before {
 content: "L";
}
.icon-007:before {
 content: "M";
}
.icon-020:before {
 content: "N";
}
.icon-033:before {
 content: "O";
}
.icon-034:before {
 content: "P";
}
.icon-021:before {
 content: "Q";
}
.icon-008:before {
 content: "R";
}
.icon-009:before {
 content: "S";
}
.icon-022:before {
 content: "T";
}
.icon-035:before {
 content: "U";
}
.icon-036:before {
 content: "V";
}
.icon-023:before {
 content: "W";
}
.icon-010:before {
 content: "X";
}
.icon-011:before {
 content: "Y";
}
.icon-024:before {
 content: "Z";
}
.icon-037:before {
 content: "0";
}
.icon-038:before {
 content: "1";
}
.icon-025:before {
 content: "2";
}
.icon-012:before {
 content: "3";
}
.icon-013:before {
 content: "4";
}
.icon-026:before {
 content: "5";
}
.icon-039:before {
 content: "6";
}
.icon-052:before {
 content: "7";
}
.icon-065:before {
 content: "8";
}
.icon-078:before {
 content: "9";
}
.icon-091:before {
 content: "!";
}