
.ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable.ui-state-focus, .ui-widget-header .ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable.ui-state-focus{
 background-color: red; 
}

/* Input Text Fields */
.ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable{width: 300px; font-size: large; border-radius: 26px;  background:#FFF linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));margin-top: 0.5rem;padding: 0.3rem;} /* The width of textfields and autocomplete textfields not selectOneMenu Textfields */

@media screen and (max-width: 550px) {
 .ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable{width: 300px; font-size: large; height: 40px; border-radius: 26px;  background:#FFF linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));margin-top: 0.5rem;padding: 0.3rem;} /* The width of textfields and autocomplete textfields not selectOneMenu Textfields */
}

@media screen and (max-width: 1050px) {
 .ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable{width: 500px; font-size: large; height: 40px; border-radius: 26px;  background:#FFF linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));margin-top: 0.5rem;padding: 0.3rem;} /* The width of textfields and autocomplete textfields not selectOneMenu Textfields */
}


@media screen and (max-width: 1550px) {
 .ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable{width: 800px; font-size: large; height: 40px; border-radius: 26px;  background:#FFF linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));margin-top: 0.5rem;padding: 0.3rem;} /* The width of textfields and autocomplete textfields not selectOneMenu Textfields */
}



@media screen and (max-width: 2050px) {
 .ui-inputfield .ui-inputtextarea .ui-widget .ui-state-default .ui-corner-all .ui-inputtextarea-resizable{width: 1000px; font-size: large; height: 40px; border-radius: 26px;  background:#FFF linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));margin-top: 0.5rem;padding: 0.3rem;} /* The width of textfields and autocomplete textfields not selectOneMenu Textfields */
}

