<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
 <h:head>
  <title>Title</title>
  <h:outputStylesheet name="css/jsfcrud.css"/>
 </h:head>
 <h:body>
  <br />
  <br />
  <h:link outcome="/tax/List" value="All Tax"/>
 </h:body>


</html>

