<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

 <h:head>
  <title><ui:insert name="title">License Template</ui:insert></title>
  <h:outputStylesheet library="css" name="jsfcrud.css"/>
  <h:outputScript library="js" name="jsfcrud.js"/>
 </h:head>

 <h:body style="background-color: #99ccff;">
  <p:growl id="growl" life="15000"  escape="false" />


  <h:form id="menuForm" style="background: transparent; color: white; ">
   <p:remoteCommand 
    name="downloadMyPhoto" process="@this" 
    actionListener="#" 
    update="@form" />

   <div class="ui-grid ui-grid-responsive" style="margin-top: 10px;">
    <div class="ui-grid-row">
     <div class="ui-grid-col-12">

      <div class="ui-grid  ui-grid-responsive">
       <div class="ui-grid-row">
        <div class="ui-grid-col-3 menuDiv">
         <h:commandLink 
          action="/index.jsf?faces-redirect=true"
          title="Go to our Shops">
          <p:graphicImage 
           name="/img/fileshare/logo.png" width="140" height="80"
           class="company-logo" alt="LOGO" style="font-size: small;"/>
         </h:commandLink>
         <h:link outcome="/index.jsf" 
                 title="Choose Device" 
                 class="emb-logo" 
                 value="#{bundle.Logo}"/>
        </div>
        <div class="ui-grid-col-5 contentDiv">   
         <a  href="#{request.contextPath}/index.jsf"
             title="Home" class="emb-global"
             style="margin-left: 5px;text-decoration: none;">
          Welcome
         </a> 
         <a href="#{request.contextPath}/index.jsf" 
            title="Home" class="emb-global"
            style="margin-left: 5px; margin-top: 2rem; text-decoration: none; ">
          #{request.userPrincipal}
         </a>

         <p:commandLink 
          title="Go to Home Page">
          <p:graphicImage 
           onclick="location.href = '#{request.contextPath}/index.jsf';" 
           library="img/photos"  style="font-size: small;"
           name='white.png' 
           width="70" height="66" class="picture-global" alt="Icon"
           title="Click to download your Photo and to view your Profile ">
          </p:graphicImage>
         </p:commandLink>


         <div class="emb-global" style="display: inline-block;">
          <p:commandButton id="Logout" title="Logout"
                           value="" class="emb-global"
                           onclick="logout();"  icon="ui-icon-power" 
                           style="color: #3388cc; background-color: transparent; 
                           margin-left: 5px; vertical-align: middle; text-align: center; 
                           height: 20px; width: 24px; margin-top: -40px;"
                           rendered="#{not empty request.userPrincipal}"/>
         </div>         
        </div>

        <div class="ui-grid-col-4 sidebarDiv" style="margin-left: -10px;">

         <p:remoteCommand name="logout" process="@this" actionListener="#"/>
         <p:menubar class="megaMenu">
          <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home" title="Home Page"/>
          <p:submenu label="#{bundle.Maintenance}">
           <p:menuitem value="#{bundle.TitleTaxTitle}" outcome="/tax/List" 
                       title="View #{bundle.TitleTaxTitle}"/>
          </p:submenu>
         </p:menubar>
        </div>
       </div>
      </div>

     </div>
    </div>
   </div>

  </h:form>
  <div class="ui-grid-row">
   <div class="ui-grid-col-12">
    <ui:insert name="body"/>
   </div>
  </div>
 </h:body>

</html>
